/* Reset some default styles for better consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex-grow: 1;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Use the Lemon Milk (BOLD) font for big headlines */
h1, h2, h3 {
    font-family: 'lemon_milkbold';
}

/* Use the Lemon Milk font for standard headlines */
h4, h5, h6 {
    font-family: 'lemon_milkmedium';
}

/* Style the header and navigation */
header {
    background-color: #222;
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    font-family: 'lemon_milkmedium';
    text-decoration: none;
    color: #fff;
}

p {
    font-family: 'lemon_milkmedium';
    text-decoration: none;
    color: #006161;
}

/* Style the hero section */
.hero {
    background-image: url('your-background-image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #ff713e;
}

/* Style the footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul {
    list-style: none;
    display: flex;
}

.footer-content li {
    margin-right: 20px;
}

.footer-content a {
    text-decoration: none;
    color: #fff;
}

/* Style the footer for smaller screens using a media query */
@media (max-width: 768px) {
    footer {
        background-color: #222;
        color: #fff;
        text-align: center;
        padding: 20px 0;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-content ul {
        margin-top: 10px;
    }

    .footer-content li {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

/* Style the product placement section */
.product-placement {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.product-placement h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.product {
    display: inline-block;
    max-width: 300px;
    margin: 0 20px;
    text-align: left;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.product p {
    margin-top: 10px;
}

/* Responsive styles for the product placement section */
@media (max-width: 768px) {
    .product-placement {
        padding: 20px 0;
    }

    .product {
        margin: 0 10px;
    }

    .herocontent {
        visibility: hidden;
    }

    .herocontent-2 {
        visibility: hidden;
    }


}

.specs p {
    font-family: "helvetica_rounded_lt_stdbold";
    color: #2c2f32;
    font-size: 50%;
}

.specs h6 {
    color: #2c2f32;
}

.specs h5 {
    color: #006868;
}

.specs button {
    font-family: "helvetica_rounded_lt_stdbold";
    font-size: 12px;
    color: #fff;
    display: block;
    margin: 10px 0;
    padding: 10px; 
    background-color: #008080;
    width: 100%;
    box-shadow: 5px 5px 10px #008080;
    border-radius: 10px;
    border-style: unset;
    transition: background-color 0.4s;
}

.specs button:hover {
    font-family: "helvetica_rounded_lt_stdbold";
    font-size: 12px;
    color: #fff;
    display: block;
    margin: 10px 0;
    padding: 10px; 
    background-color: #105f5f;
    width: 100%;
    box-shadow: 5px 5px 10px #008080;
    border-radius: 10px;
    border-style: unset;
}

.specs a {
    font-family: "helvetica_rounded_lt_stdbold";
    font-size: 12px;
    background-color: #008080;
}

  .navcolor {
    color: white;
  }

  .overlapper {
    z-index: 2;
    position: absolute;
    transition: transform .2s;
  }

  .overlapper:hover {
    transform: scale(1.08);
  }

  .poster {
    z-index: 1;
  }

  @media (max-width: 991px) {
    .custom-navbar-toggler {
        display: inline-block; /* Set the burger icon to display inline-block */
        margin-right: 10px; /* Adjust the spacing between the logo and burger icon */
    }
    
    .navbar-brand {
        display: inline-block; /* Set the logo and logo name to display inline-block */
        vertical-align: middle; /* Vertically align them to the middle */
    }
}

/* Add this media query to target smaller screens */
@media (max-width: 575px) {
    #logo {
        width: 50px; /* Adjust the width to your preference */
    }
}
